# Taken from the archiso gitignore:
*~
*.tar
*.tar.*
work/
out/
codesigning*
*.iso
*.img
*.cer
*.crt
*.key
*.pem
user-data
meta-data
network-config
man/version.rst

# Taken from the github/gitignore for vscode, but there is no need for any vscode files at all, so I have removed the other things:
.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
#!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix